<?xml version="1.0"?>
<launch>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="kinematics_config" default="$(find hrc_case_study_descriptions)/config/cembre_ur10e.yaml"/>
   <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hrc_case_study_descriptions)/urdf/sharework_cembre_simplified.xacro'
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)"
  />
    <include file="$(find hrc_case_study_descriptions)/launch/cameras.launch"/>
</launch>
