<launch>

  <include file="$(find hrc_case_study_vision_system)/launch/vision_system_left.launch"/>
  <include file="$(find hrc_case_study_vision_system)/launch/vision_system_right.launch"/>
<!-- <arg name="serial_no_camera1"    			default="922612070587"/>
<arg name="serial_no_camera2"    			default="025222071790"/>
<arg name="camera1"              			default="camera"/>
<arg name="camera2"              			default="camera2"/>
<arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
<arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
<arg name="initial_reset"             default="false"/>
<arg name="filters"                   default="pointcloud"/>
<arg name="enable_sync"               default="true"/>
<arg name="enable_depth"              default="true"/>

<group ns="$(arg camera1)">
<include file="$(find realsense2_camera)/launch/rs_camera.launch">
<arg name="serial_no"             value="$(arg serial_no_camera1)"/>
<arg name="tf_prefix"         		value="$(arg camera1)"/>
<arg name="initial_reset"         value="$(arg initial_reset)"/>
<arg name="filters"               value="$(arg filters)"/>
<arg name="enable_sync"           value="$(arg enable_sync)"/>
<arg name="enable_depth"          value="$(arg enable_depth)"/>
</include>

<param name="stereo_module/visual_preset" value="3"/>
</group>

<group ns="$(arg camera2)">
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
<arg name="serial_no"             value="$(arg serial_no_camera2)"/>
<arg name="tf_prefix"		          value="$(arg camera2)"/>
<arg name="initial_reset"         value="$(arg initial_reset)"/>
<arg name="filters"                  value="$(arg filters)"/>
<arg name="enable_sync"           value="$(arg enable_sync)"/>
<arg name="enable_depth"          value="$(arg enable_depth)"/>
</include>
<param name="stereo_module/visual_preset" value="3"/>
</group> -->


</launch>
